body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    margin: 0 auto;
    max-width: 50%;
    min-width: 240px;
    background-color: #95E000;
    padding: 10px;
}

h1{
    max-width: 50%;
    min-width: 240px;
    margin: 0 auto;
    text-align: center;
    background-color:#B79F61;
    padding: 10px;
}

.start, .start-message{
    text-align: center;
}

#timer {
    font-size:200%;
    text-align: center;
}

.display-outcome{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    /* height: 2rem; */
    background-color: #00ffff;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hide{
    display: none;
}