body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin: 0 auto;
    text-align: center;
}

.start{
    margin-top: 1rem;
    text-align: center;
}

.start-message{
    margin: 0 auto;
    text-align: center;
    width: 50%
}

#timer {
    font-size:200%;
    text-align: center;
}

.display-outcome{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    /* height: 2rem; */
    width: 5rem;
    background-color: #00ffff;
}

.hide{
    display: none;
}